@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400&family=Bitter:wght@500&display=swap");
.body__container {
  padding: 2rem 10rem 3rem;
  background-color: #f0f5f9;
  font-family: "Rubik", sans-serif;
}
.header__container {
  z-index: 1;
  position: fixed;
  width: 100vw;
  padding: 1.5rem 11rem 0;
  height: 5.5rem;
  background-color: #1e2022;
  /* position: relative; */
}
.header__heading {
  font-size: 2rem;
  position: absolute;
  left: 10rem;
  width: 40%;
  word-wrap: normal;
  font-family: "Bitter", serif;
}
.header__heading a {
  color: #f0f5f9;
  text-decoration: none;
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 0;
}
.footer-content p {
  margin-bottom: 1rem;
}
.footer__container {
  width: 100%;
  padding: 2rem 10rem;
  background-color: #1e2022;
  color: #f0f5f9;
  padding-bottom: 2rem;
}
.lottie-animation.common {
  width: 35%;
  height: 35%;
  margin: 0 auto;
  position: relative;
  bottom: 1rem;
}
.lottie-animation.common:hover {
  cursor: none;
}

.scroll-button__container {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  font-size: 1.5rem;
}
.scroll-button {
  background-color: #52616b;
  color: #c9d6df;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  transition: 0.5s;
}
.scroll-button:hover {
  background-color: #c9d6df;
  color: #52616b;
  transition: 0.5s;
}
.scroll-button a {
  text-decoration: none;
  color: #c9d6df;
}

/****************About *****************/
.about__content,
.education__content {
  width: 100%;
  margin: 0 auto;
}
.lottie-animation.about {
  width: 505px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  bottom: 2rem;
}
.about__container {
  margin-bottom: 3rem;
}

.contact__para,
.project__para {
  width: 40%;
  position: relative;
  top: 0rem;
}
.about__para {
  width: 100%;
  text-align: center;
  word-wrap: normal;
  display: flex;
  margin: 0 auto;
  font-size: 1.1rem;
  background-color: #1e2022;
  color: #f0f5f9;
  border-radius: 1rem;
  padding: 2rem 7rem 1.5rem;
}
.about__para button {
  border: none;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  background-color: #52616b;
  color: #c9d6df;
  transition: 0.5s;
}
.resume-button:hover {
  background-color: #f0f5f9;
  color: #1e2022;
  transition: 0.5s;
}
/* .resume-button a:hover{
  color:#1e2022;
} */
/*******************EDUCATION******************/
.education__para {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}
.education__container {
  margin-bottom: 3rem;
}

.education-class {
  width: 31.5%;
  height: 175px;
  border-radius: 1rem;
  color: #c9d6df;
  background-color: #1e2022;
  padding: 1.5rem 1rem;
  /* margin:2rem auto; */
  position: relative;
}
.education-school {
  font-weight: bold;
  color: #fff;
}
.education-year {
  position: absolute;
  top: 50%;
}
.education-division {
  position: absolute;
  top: 62.5%;
}
.education-grades {
  position: absolute;
  top: 75%;
}

/*******************SKILLS*************/
.skills__container {
  margin-bottom: 3rem;
}
.skills__heading,
.education__heading,
.project__heading,
.contact__heading {
  text-align: center;
}
.skills__heading p,
.education__heading p,
.project__heading p,
.contact__heading p {
  font-size: 2.5rem;
}
.skills__content-inner {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  bottom: 1rem;
  width: 100%;
}
.skills__para {
  width: 40%;
  background-color: #1e2022;
  color: #f0f5f9;
  padding: 2rem 3rem;
  border-radius: 1rem;
}
.skills__language {
  padding: 1.25rem 0rem;
  text-align: center;
  width: 40%;
  background-color: #1e2022;
  border-radius: 1rem;
}
.language-heading p {
  text-align: center;
  color: #f0f5f9;
}
.skills__language-inner {
  display: inline-flex;
}
.skill svg {
  color: #52616b;
  transition: 0.5s;
}
.skill svg:hover {
  color: #f0f5f9;
  transition: 0.5s;
}
.skill {
  margin: 1rem 1.5rem;
  display: block;
  width: 70px;
}
.skill-progress {
  height: 20px;
  background-color: #f0f5f9;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}
.skills__para p {
  margin-bottom: 0.5rem;
}
.skill span {
  color: #52616b;
  transition: 0.5s;
}
.skill span:hover {
  color: #f0f5f9;
  transition: 0.5s;
}
/**********************Projects*******************/

.project__projects {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.project__project {
  background-color: #1e2022;
  color: #f0f5f9;
  padding: 2rem 3rem;
  width: 42.5%;
  margin: 1rem 0rem;
  height: auto;
  border-radius: 1rem;
  position: relative;
}
.project__project a {
  text-decoration: none;
  transition: 0.5s;
}
.project__project a:hover {
  color: #52616b;
  transition: 0.5s;
}
.project__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
.project__description {
  margin-top: 0.75rem;
}
.project__tech-used {
  display: inline-flex;
  color: #52616b;
}
.project__tech:hover {
  color: #f0f5f9;
  transition: 0.5s;
}
.project__tech {
  margin: 0.75rem;
  transition: 0.5s;
}
.project__container {
  margin-bottom: 3rem;
}

/********************Contact************/
.contact__para {
  background-color: #1e2022;
  width: 100%;
  border-radius: 1rem;
  padding: 2rem 3rem;
  color: #f0f5f9;
}
.contact__para-heading {
  text-align: center;
  font-size: 1.5rem;
}
.contact__para-content {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact__container {
  margin-bottom: 1rem;
}
.contact__content-icon {
  color: #f0f5f9;
  border: none;
  border-radius: 1.25rem;
  width: 2.5rem;
  height: 2.5rem;
  margin: 2rem 0.5rem 1rem;
}

.icon-link {
  text-decoration: none;
  color: #f0f5f9;
}
.icon-link:hover {
  text-decoration: none;
  color: #f0f5f9;
}
.contact__content-icon.github {
  background-color: #333;
  transition: 0.5s;
}
.contact__content-icon.github:hover {
  background-color: rgb(110, 110, 110);
  transition: 0.5s;
}
.contact__content-icon.instagram {
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  transition: 0.5s;
}
.contact__content-icon.instagram:hover {
  transition: 0.5s;
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #f1edb8 0%,
    #f1edb8 5%,
    #fc9f97 45%,
    #ff73d3 60%,
    #7899fc 90%
  );
}
.contact__content-icon.phone {
  background-color: #23c861;
  transition: 0.5s;
}
.contact__content-icon.phone:hover {
  background-color: #51fc93;
  transition: 0.5s;
}
.contact__content-icon.mail {
  background-color: #efc816;
  transition: 0.5s;
}
.contact__content-icon.mail:hover {
  background-color: #f8e386;
  transition: 0.5s;
}
.contact__content-icon.linkedin {
  background-color: #0077b5;
  transition: 0.5s;
}
.contact__content-icon.linkedin:hover {
  background-color: #369cd3;
  transition: 0.5s;
}
.contact__content-icon.twitter {
  background-color: #1da1f2;
  transition: 0.5s;
}
.contact__content-icon.twitter:hover {
  background-color: #55bbfa;
  transition: 0.5s;
}
.contact__content-icon.facebook {
  background-color: #3b5998;
  transition: 0.5s;
}
.contact__content-icon.facebook:hover {
  background-color: #7e98ce;
  transition: 0.5s;
}

.contact__para-details a {
  text-decoration: none;
  color: #f0f5f9;
  display: flex;
  margin-bottom: 1rem;
}

.footer__content {
  font-size: 1.5rem;
  text-align: center;
}

@media only screen and (max-width: 720px) {
  .body__container {
    padding: 6rem 1rem 3rem;
    background-color: #f0f5f9;
    font-family: "Rubik", sans-serif;
  }
  .header__container {
    z-index: 1;
    position: fixed;
    width: 100vw;
    padding: 1.5rem 3rem 0;
    height: 5.5rem;
    background-color: #1e2022;
  }
  .header__heading {
    font-size: 1.5rem;
    position: absolute;
    left: 1.175rem;
    width: 100%;
  }
  .lottie-animation.about {
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 3rem;
    margin: 0 auto;
  }
  .lottie-animation.common {
    width: 80%;
    height: 80%;
    position: relative;
    bottom: 1rem;
    margin: 0 auto;
  }
  .lottie-animation:hover {
    cursor: default;
  }
  .scroll-button__container {
    bottom: 1rem;
    right: 1rem;
  }

  .about__container,
  .education__container {
    margin-bottom: 3rem;
  }
  .contact__para,
  .project__para {
    width: 40%;
    position: relative;
    top: 0rem;
  }
  .about__para {
    width: 100%;
    text-align: left;
    padding: 2rem 2rem 1.5rem;
  }

  /*******************EDUCATION******************/
  .education-class {
    width: 100%;
    margin-bottom: 2rem;
  }
  /*******************SKILLS*************/
  .skills__language {
    width: 100%;
  }
  .skills__para {
    width: 100%;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    border-radius: 1rem;
  }
  .skill-trio {
    width: 33.3%;
  }
  .skill {
    margin: 1rem 1rem;
  }

  /**********************Projects*******************/
  .project__project {
    width: 100%;
    padding: 2rem 1rem;
    margin: 0rem 0rem 1rem;
    height: auto;
  }
  /********************Contact************/
  .contact__para {
    background-color: #1e2022;
    width: 100%;
    border-radius: 1rem;
    padding: 2rem 1rem;
    color: #f0f5f9;
  }
  .contact__para-heading {
    text-align: left;
    font-size: 1.5rem;
  }
  .contact__container {
    margin-bottom: 1rem;
    /* text-align: center; */
  }
  .contact__content-icon {
    color: #f0f5f9;
    border: none;
    border-radius: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    margin: 1rem 1rem 1rem 0rem;
  }
  .footer__container {
    width: 100%;
    padding: 2rem 1rem;
  }
  .footer-content {
    width: 100%;
  }
}

@media only screen and (max-width: 1250px) and (min-width: 720px) {
  .body__container {
    padding: 6rem 1rem 3rem;
    background-color: #f0f5f9;
    font-family: "Rubik", sans-serif;
  }
  .header__container {
    z-index: 1;
    position: fixed;
    width: 100vw;
    padding: 1.5rem 3rem 0;
  }
  .header__heading {
    font-size: 1.75rem;
    position: absolute;
    left: 1.1rem;
    width: 100%;
  }
  .lottie-animation.about {
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 3rem;
    margin: 0 auto;
  }
  .lottie-animation.common {
    width: 50%;
    height: 50%;
    position: relative;
    bottom: 1rem;
    margin: 0 auto;
  }
  .lottie-animation:hover {
    cursor: default;
  }

  .about__container,
  .education__container {
    margin-bottom: 3rem;
  }
  .contact__para,
  .project__para {
    width: 40%;
    position: relative;
    top: 0rem;
  }
  .about__para {
    width: 100%;
    text-align: left;
    padding: 2rem 3rem 1.5rem;
  }

  /*******************EDUCATION******************/
  .education-class {
  }
  .education__para {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
  }
  .education__container {
    margin-bottom: 3rem;
  }

  .education-class {
    width: 100%;
    margin-bottom: 2rem;
    padding: 2rem 3rem;
    /* margin:2rem auto; */
    position: relative;
  }
  .education-school {
    font-weight: bold;
    color: #fff;
  }
  .education-year {
    position: absolute;
    top: 45%;
  }
  .education-division {
    position: absolute;
    top: 57.5%;
  }
  .education-grades {
    position: absolute;
    top: 70%;
  }
  /*******************SKILLS*************/
  .skills__language {
    width: 100%;
  }
  .skills__para {
    width: 100%;
    margin-bottom: 2rem;
    padding: 2rem 3rem;
    border-radius: 1rem;
  }
  .skill-trio {
    width: 100%;
  }
  .skill {
    margin: 1rem 2.5rem;
  }

  /**********************Projects*******************/
  .project__project {
    width: 100%;
    padding: 2rem 3rem;
    margin: 0rem 0rem 1rem;
    height: auto;
  }
  /********************Contact************/
  .contact__para {
    background-color: #1e2022;
    width: 100%;
    border-radius: 1rem;
    padding: 2rem 3rem;
    color: #f0f5f9;
  }
  .contact__para-heading {
    text-align: left;
    font-size: 1.5rem;
  }
  .contact__container {
    margin-bottom: 1rem;
    /* text-align: center; */
  }
  .contact__content-icon {
    color: #f0f5f9;
    border: none;
    border-radius: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    margin: 1rem 0.5rem 1rem;
  }
  .footer__container {
    width: 100%;
    padding: 2rem 1rem;
  }
  .footer-content {
    width: 100%;
  }
}
